<%
 @page_header = "Deliveries"
  @page_sub_header = "details"
  @breadcrumbs = [["Deliveries",deliveries_path], 'Details']
%>
<div class="widget-box">
	<div class="widget-header header-color-dark">
		<h5>Delivery Information</h5>
		<div class="widget-toolbar">
			<%= raw format_status @delivery.status %>
		</div>
	</div>
	<div class="widget-body">
		<div class="widget-main padding-6">
			<div class="row">
				<div class="col-lg-11">
					<div class="well well-sm">
						<strong>Destination Address:</strong> <%= @delivery.shop.country%>, <%= @delivery.shop.address%><br/>
						<strong>Typical Delivery Travel Time:</strong> <%= @delivery.shop.delivery_time%></br>
						<strong>Dispatch Time:</strong> <%= @delivery.eta != nil ? @delivery.eta : 'Not yet dispatched' %></br>
						<strong>Estimated Time of Arrival:</strong> <%= @delivery.eta != nil ? @delivery.eta : 'Not yet dispatched' %> EDIT</br>
					</div>
					<div class="well well-sm">
						Additional Notes		
					</div>
				</div>
				<div class="col-lg-1">
					<div class="row pad-top">	
						<% if @delivery.status == "pending" then %>
						<button class="btn btn-app btn-success btn-xs radius-4">
							<i class="icon-share-alt bigger-150"></i>
							 Approve</br>Delivery 
						</button>
						<% elsif @delivery.status == "approved" then %>
						<button class="btn btn-app btn-grey btn-xs radius-4">
							<i class="icon-share-alt bigger-150"></i>
							 Dispatch</br>Delivery 
						</button>
						<% end %>
					</div>
					<div class="row">
						<% if @delivery.status != "delivered" then %>
						<button class="btn btn-app btn-xs btn-danger radius-4">Reject</button>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br/>

<div class="container">
	<div class="row delivery-items-table">
		<table id="grid-table"></table>
		<div id="grid-pager"></div>
	</div>
</div>
