<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ivan's Hypermarket</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="navbar-fixed breadcrumbs-fixed">
		<div class="navbar navbar-default navbar-fixed-top" id="navbar">
			<div class="navbar-container container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand"> <small> <i class="icon-leaf"></i> JR is Gay Inc. </small> </a>
				</div>
				<div class="navbar-header pull-right">
					<ul class="nav ace-nav">
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="<%= asset_url("avatar2.png")%>" alt="User's Photo"> <span class="user-info"> <small>Welcome,</small> JR </span> <i class="icon-caret-down"></i> </a>
							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#"> <i class="icon-cog"></i> Settings </a>
								</li>
								<li>
									<a href="#"> <i class="icon-user"></i> Profile </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#"> <i class="icon-off"></i> Logout </a>
								</li>
							</ul>
						</li>
				</div>
			</div>
		</div>
		<div class="main-container container" id="main-container">
			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#"> <span class="menu-text"></span> </a>
				<div class="sidebar sidebar-fixed skin-3" id="sidebar">
					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>
							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>
							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>
							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>
						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>
							<span class="btn btn-info"></span>
							<span class="btn btn-warning"></span>
							<span class="btn btn-danger"></span>
						</div>
					</div>
					<ul class="nav nav-list">
						<li class="active">
							<a href="home"> <i class="icon-dashboard"></i> <span class="menu-text"> Dashboard </span> </a>
						</li>
						<li>
							<a href="shops"> <i class="icon-shopping-cart"></i> <span class="menu-text"> Shops </span> </a>
						</li>
						<li>
							<a href="sales"> <i class="icon-usd"></i> <span class="menu-text"> Sales </span> </a>
						</li>
						<li>
							<a href="deliveries"> <i class="icon-plane"></i> <span class="menu-text"> Deliveries </span> </a>
						</li>
						<li>
							<a href="items"> <i class="icon-th"></i> <span class="menu-text"> Items </span> </a>
						</li>
						<li>
							<a href="calendar"> <i class="icon-calendar"></i> <span class="menu-text"> Calendar </span> </a>
						</li>
						<li>
							<a href="admin"> <i class="icon-cog"></i> <span class="menu-text"> Admin </span> </a>
						</li>
					</ul>
					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>
				</div>
			</div>
			<div class="main-content">
				<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">Home</a>
						</li>
						<li class="active">
							Dashboard
						</li>
					</ul><!-- .breadcrumb -->
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="icon-search nav-search-icon"></i> </span>
						</form>
					</div><!-- #nav-search -->
				</div>
				<div class="page-content">
					<div class="page-header">
						<h1> Typography <small> <i class="icon-double-angle-right"></i> This is page-header (.page-header &gt; h1) </small></h1>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<%= yield %>
							<!-- PAGE CONTENT ENDS -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
